form {
flex-direction: column;
    width: 100%;
 text-align:center;

    margin-left: auto;
    margin-right: auto;
    position: absolute;
 justify-content: center;
 text-align:Center;


    input{ 
        width: 300px;
        border: solid 1px black;
        padding: 5px;
        margin: 5px;
    }
   
}
.container {
    width: 30%;
height: 650px;
justify-content: center;
flex-direction: column;
border: solid 1px black;
margin-left: 35%;
}